nav li a{text-decoration: none;
    color: black;
    font-size: larger;
    color: #ddd8ce;
    }


a:hover{text-decoration: underline;}
    
nav ul{list-style: none;
        justify-content: space-around;
        display: flex;        
    }
    
nav li{display: inline;}

.wrapper{
display:grid;
grid-template-columns:  repeat(3, 1fr) ;
grid-template-areas:
"hd hd nav"
"main main .";
text-align: center;
font-family:"Nunito", sans-serif;
}


  
 .box1 h1{color: #ddd8ce;}


.box1{grid-area: hd;
 background-color: #222222;
 
}
.box2{grid-area: nav;
background-color: #222222;

}
.box3{grid-area: main;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper{display: grid;
        grid-template-areas:
        "hd hd hd "
        "nav nav nav"
        "main main main";

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper{display:grid;
        grid-template-areas:
        "hd hd hd"
        "nav nav nav"
        "main main main";
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper{
        display:grid;
        grid-template-areas:
        "hd hd hd"
        "nav nav nav"
        "main main main";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper{
        display:grid;
        grid-template-areas:
        "hd hd nav"
        "main main .";
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper{display:grid;
    grid-template-areas:
    "hd hd nav"
     "main main .";
    }
}
